<div>
        <h1 class="front_page_heading">
            Cakes
        </h1>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="<%= @@strawberry_shortcake.image %>" alt="oatmeal cookies">
                        <div> <strong><%= @@strawberry_shortcake.name %></strong></div>
                        <div><strong>Price: </strong> <%= @@strawberry_shortcake.price %></div>
                        <div><strong>Quantity: </strong><%= @@strawberry_shortcake.quantity %> </div>
                        <div><p><strong>Description: Delicious strawberries and cream. </strong></p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="<%= @@red_velvet_cake.image %>" alt="oatmeal cookies">
                        <div> <strong><%= @@red_velvet_cake.name %></strong></div>
                        <div><strong>Price: </strong> <%= @@red_velvet_cake.price %></div>
                        <div><strong>Quantity: </strong><%= @@red_velvet_cake.quantity %> </div>
                        <div><p><strong>Description: I heard red velvet is a type of chocolate, but it is red? Red chocolate?</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="<%= @@angel_food_cake.image %>" alt="oatmeal cookies">
                        <div> <strong><%= @@angel_food_cake.name %></strong></div>
                        <div><strong>Price: </strong> <%= @@angel_food_cake.price %></div>
                        <div><strong>Quantity: </strong><%= @@angel_food_cake.quantity %> </div>
                        <div><p><strong>Description: A delicious cake fit for an angel duh.</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="<%= @@chocolate_cake.image %>" alt="oatmeal cookies">
                        <div> <strong><%= @@chocolate_cake.name %></strong></div>
                        <div><strong>Price: </strong> <%= @@chocolate_cake.price %></div>
                        <div><strong>Quantity: </strong><%= @@chocolate_cake.quantity %> </div>
                        <div><p><strong>Description: It's an OG. Do I really need to say more?</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
