<div>
    <h1 class="front_page_heading">
        Cakes
    </h1>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="<%= @@banana_nut_muffins.image %>" alt="oatmeal cookies">
                    <div> <strong><%= @@banana_nut_muffins.name %></strong></div>
                    <div><strong>Price: </strong> <%= @@banana_nut_muffins.price %></div>
                    <div><strong>Quantity: </strong><%= @@banana_nut_muffins.quantity %> </div>
                    <div><p><strong>Description: A personal favorite, it's flavor complements any tastes.</strong></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="<%= @@blueberry_muffins.image %>" alt="oatmeal cookies">
                    <div> <strong><%= @@blueberry_muffins.name %></strong></div>
                    <div><strong>Price: </strong> <%= @@blueberry_muffins.price %></div>
                    <div><strong>Quantity: </strong><%= @@blueberry_muffins.quantity %> </div>
                    <div><p><strong>Description: It's a muffin with blueberries, simply delicious.</strong></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="<%= @@honey_muffins.image %>" alt="oatmeal cookies">
                    <div> <strong><%= @@honey_muffins.name %></strong></div>
                    <div><strong>Price: </strong> <%= @@honey_muffins.price %></div>
                    <div><strong>Quantity: </strong><%= @@honey_muffins.quantity %> </div>
                    <div><p><strong>Description: Pretty basic yet so tasty! Actually good with butter or jam I hear.</strong></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="<%= @@pumpkin_cream_muffins.image %>" alt="oatmeal cookies">
                    <div> <strong><%= @@pumpkin_cream_muffins.name %></strong></div>
                    <div><strong>Price: </strong> <%= @@pumpkin_cream_muffins.price %></div>
                    <div><strong>Quantity: </strong><%= @@pumpkin_cream_muffins.quantity %> </div>
                    <div><p><strong>Description: Trying to stunt of everyone at the bake off? why not make some muffins from a pumpkin? AND they're cream filled!</strong></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
